# Git
.git
.gitignore
.gitattributes

# IDE
.vs
.vscode
.idea
*.user
*.suo

# Build outputs
**/bin
**/obj
**/out
**/publish

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
README.md
*.md
*.log
